body {
  background-color: #EAF6F6;
}
hr{
  background-color: white;
  border-style:dashed none none;
  height: 2px;
  border-width: 2px;
  width: 100%;
}
img{
  height: 150px;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
